.sidenav-container {
  width: 60%;
  background-color: #fff;
  position: fixed;
  display: none;
  z-index: 1;
  height: 100vh;
  transition: all 0.4s ease;
}

.menu-side {
  width: 40px;
  height: 50px;
  cursor: pointer;
  text-align: right;
  fill: #3f67e9;
}

/* .sidenav-toggle {
  transform: translateX(0px);
} */

.sidenav-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  padding-left: 10px;
}

.side-link {
  text-decoration: none;
  color: #353b50;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
}

.side-link:hover {
  background-color: #353b50;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .sidenav-container {
    display: block;
  }
}
